



.show_answer_wrap_back, .voter_wrap_back, .cover_div_wrap_back{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    z-index: 100000000;

    background-color: rgba(0, 0, 0, 0.3);

}

.cover_div_main{
    background: white;
    width: 38%;
    min-width:250px;
    border-radius: 8px;
    /* top: 18vh;
    right: 19%;
    position: relative; */
}

.small_red_reminder{
    font-size: small;
    color: red;
    text-align: center;
}

