html{
    min-height: 500px;
}

body {
    background-image: url("../photos/background_photo/create_room_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    min-width: 355px;
    min-height: 500px;
}

.rows{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 80px);
    align-content: center;
    justify-content: center;
    /* background: green; */
}
.card {
    height: auto;
    width: auto;
    border: none;
    text-align: center;
    background-color: white;
    /* display: grid; */
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 25px 30px;
}


.blue-text {
    color: #00BCD4
}


/* inout form */
.form-group{
    margin: 10px 0;
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    /* font-size: 18px !important; */
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.form-control-label {
    margin-bottom: 0
}

input[type=number]{
    width: 47px;
    height: 23px;
    padding: 0 5px !important;
}



/* Create roo button */

#crb{
    margin-top: 45px;
}
.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    width:137px;
    cursor: pointer;
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}


