:root{
    --header_height: 50px;
}



body,html{
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    /* background-image: ; */

}



.header_bar{
    height: var(--header_height)
}


.main_wrapper{
    width: auto;
    /* height: auto; */
    padding: 10px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR99RQn7Vnp40YjdpjVuDSZaxCjnuqYX9xK8w&usqp=CAU') no-repeat center center;
    background-size: cover;
    background-position: inherit;
    background-attachment: fixed;
    height:100%;
    /* width: ; */

}

.game_room_main{
    /* border: 1px solid black; */
    width: auto;
    height: auto;
}

.game_header{
    height: auto;
    /* border: 1px solid black; */
    width: clamp(700px,80%,800px);
    /* width: 800px; */
    /* align-self: center; */
    margin-right: auto;
    margin-left: auto;

    background-color: #ffffff;

}

.game_header_div{
    min-width: 120px;
    margin: 10px;   
    /* padding:10px; */
}



/* Chat room------------------ */


.game_chat{
    width: clamp(250px,90%,850px);
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;

    /* border: 1px solid black; */
    position: relative;


}

.game_chat_wrap{
    overflow: auto;
    padding: 0 2vw;
    /* height: 80%; */
    min-height: 450px;
    height: calc(100vh - 220px);
}


.chat_msg{
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 40px;
}


.chat_avatar_img{
    width: 62px;
    height:62px;
    border-radius: 100%;
    position: relative;
    top: 15px;
    margin: 0 10px;

    object-fit: cover;
    object-position: center center;


}

.chat_main{
    margin: 0 10px;
}

.chat_text{
    background-color: #ffffff;
    padding: 0.4rem 1rem;
    position:relative;
    border-radius: 0.45rem;
    overflow-wrap: break-word;
    
}

.chat_text::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid;
    border-color: transparent #ffffff transparent transparent;
}

.chat_right > .chat_main> .chat_text::before{
    left: inherit;
    right: -20px;
    border-color: transparent transparent transparent #ffffff;

    
}

.chat_left{
    flex-direction: row;
}

.chat_right{
    flex-direction: row-reverse;
}

.chat_right> .chat_main{
    align-items: end;
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.player_name{
    color:white;
}

/* Show answer / Voter  -----------------------------------------*/
.show_answer_wrap_back , .voter_wrap_back{
    background-color: rgba(0, 0, 0, 0.3);
    
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    z-index: 100000000;
}

.show_answer_main , .voter_main{
    background: white;
    width: 300px;
    border-radius: 8px;
    top: 34%!important;
    position: relative;
}

.show_ans_inner_wrap{
    margin: 20px 0;
}

/* Voter-------- */
.voting_main input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.voting_player:hover{
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
    background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
    background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
    background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
    background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
    background-image: linear-gradient(right, #e9eff5, #ffffff);
}

.vote_player_input:checked + label {
    /* border: 1px solid; */
    color: red;
}

.vote_reminder{
    font-size: small;
    color: red;
    position: relative;
    top: -16px;
    left: -15px;
}



/* Announcement */

.announcement{
    /* border: 1px solid black; */
    padding: 10px;
    /* height:  */
    /* position: absolute; */
    width: auto!important
}



.game_recap_main{
    width: clamp(200px, 40vw, 475px);
}

.player_recap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 7px;
}

.recap_img{
    width: 28px;
    /* height: fit-content; */
    height: 28px;
    object-fit: cover;
    border-radius: 100%;
}

.recap_wrap{
    padding: 0 0.5rem;
}

.recap_player_name{
    font-size: 15px;
    width: 70px;
}


.recap_text{
    max-width: 120px;
    max-height: 100px;
    overflow: auto;
    word-wrap: break-word;
    font-size: 11px;
}

.announcement > div{
    position: block;
}




/* Text submition */
.input-group *{
    border-radius: 40rem!important
}

.vote_btn{
    margin:0 0.8vw!important;
}


