
/* Modified by jessica */

html{
  height:100%;
}

body {
    /* background: url('https://ai4manufacturing.com/wp-content/uploads/2021/12/ai-and-humans-2.jpg') no-repeat center center; */
    background: url('../photos/background_photo/gamePlayer_background.jpeg') no-repeat center center;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;

  }

  
.center_frame_container{
  height: clamp(500px, 50vh, 550px);
  border: none;
  text-align: center;
  justify-content: center;
  background-color: white;
  max-width: 650px;
  width: 30%;
  min-width: 400px;

  border-radius: 5%;
  padding:25px;
}

.main_container{
  height: calc(100% - 66px);
  display:flex;
  justify-content: center;
  align-items: center;
}

/* modified by jessica */
  
#form1{
  display: inline-flex
}
#form2{
  display: inline
}
  .text {
    font-family: raleway;
    font-size: 40px;
    position: absolute center;
    text-align: center;
    padding-left: 0%;
    color: #000;
    margin-top: 43px;
  }
  
  .text1 {
    font-family: raleway;
    font-size: 21px;
    text-align: center;
    margin-top: -20px;
    color: #000;
  }
  
  /* Modified by jessica */

  .profile_pic_icon {
    /* border: 1px solid #000000; */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 150px;
    height: 150px;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    align-content: center;
  
    object-fit: cover;
    object-position: center center;
    
  }

  .inner_container{
    min-width: 250px;
    max-width: 530px;
  }
  .input_field_covering{
    width: 100%;
    padding-bottom: 20px;
  }

  .no_name_remainder{
    font-size: small;
    color: red;
    position: relative;
  }

  /* Modified by jessica */

  
  
  .trick {
    display: inline-block;
    vertical-align: middle;
    height: 150px;
  }
  

  
  .trick:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  #overlay {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 30px;
    opacity: 1.0;
    -webkit-transition: opacity 2.25s ease;
    -moz-transition: opacity 10.25s ease;
  }
  
  #box:hover #overlay {
    opacity: 1;
  }
  
  
  
  
  
  .panel-group{
    width:350px;
    margin:auto;
    /*margin:50px 400px 50px 400px;*/
    max-width:100%;
  }
  
  .panel-heading{
    background-color:transparent !important;
  }
  
  .title{
    text-align: center;
    background-color:transparent;
    color:#000;
    font-family:lato;
    font-weight:300;
    font-size:15px;
    max-width:100%;
  }
  
  
  
  
  #accordion{
    background-color: transparent;
    max-width:100%;
    margin-bottom:10px;
  }
  
  
  
  
  
  
  
  .btn-outline {
    color: inherit;
    transition: all 1.4s;
    background-color: transparent;
  }
  /* button CSS */
  
  .btn-danger.btn-outline {
    margin-top: 9px;
    background-color: transparent;
    color: #000;
    border-color: #000;
    padding:auto;
    padding:10px 0px 10px 0px;
    margin: 1px 5px 1px 0px;
    width: 100%;
    text-align:center;
    font-family: raleway;
    font-weight: 300;
    max-width:100%;
  }
  
  /*---------    Contact Form    ------------*/
  
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #000;
    font-size: 15px;
  }
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder,
  textarea:hover::-webkit-input-placeholder {
    color: #fff;
    font-size: 15px;
    font-family: raleway;
  }
  
  input:hover:focus::-webkit-input-placeholder,
  textarea:hover:focus::-webkit-input-placeholder {
    color: #fff;
    font-family: raleway;
  }
  
  input:hover::-moz-placeholder,
  textarea:hover::-moz-placeholder {
    color: #fff;
    font-size: 15px;
    font-family: raleway;
  }
  
  input:hover:focus::-moz-placeholder,
  textarea:hover:focus::-moz-placeholder {
    color: #fff;
    font-family: raleway;
  }
  
  input:hover::placeholder,
  textarea:hover::placeholder {
    color: #fff;
    font-size: 15px;
    font-family: raleway;
  }
  
  input:hover:focus::placeholder,
  textarea:hover:focus::placeholder {
    color: #fff;
    font-family: raleway;
  }
  
  input:hover::placeholder,
  textarea:hover::placeholder {
    color: #fff;
    font-size: 15px;
    font-family: raleway;
  }
  
  input:hover:focus::-ms-placeholder,
  textarea:hover:focus:-ms-placeholder {
    color: #fff;
    font-family: raleway;
  }

  
  input {
    font-family: raleway;
    font-size: 15px;
    width: 200px;
    height: 40px;
    padding: 0px 12px 0px 12px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px rgb(15, 15, 15);
    margin-bottom: 10px;
    transition: all 0.9s ease-in-out;
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -ms-transition: all 0.9s ease-in-out;
  }
  
  input:hover {
    background: #ccc;
    color: #fff;
    /* font-family: raleway; */
  }
  
   
  #submit {
    padding: 0;
    font-family: raleway;
    font-size: 20px;
    color: #000;
    outline: none;
    cursor: pointer;
    border: solid 1px rgb(17, 17, 17);
    margin-top: 6px;
    width: 130px;
  }
  
  #submit:hover {
    color: #fff;
    background-color: #ccc;
  }


  .custom-select {
    position: relative;
    display: block;
    height: 45px;
    width: 200px;
    /* margin-left: 20px; */
    border: 1px solid rgb(10, 10, 10);
    background-color: rgb(244, 241, 250);
    z-index: 10;
  }
  .custom-select select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 200px;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: #714BB9;
  }
  .custom-select:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: "";
    text-align: center;
    color: #714BB9;
    font-size: 24px;
    border-left: 1px solid #3C1C78;
    z-index: -1;
  }
  
