@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap");
body {
  width:100%;
  height: 100% !important;
  margin:0;
  padding:0;
}

.background{
  background: url('https://www.mckinsey.com/~/media/mckinsey/business%20functions/mckinsey%20analytics/our%20insights/global%20survey%20the%20state%20of%20ai%20in%202021/ai-2021-1536x1536.jpeg?mw=768&car=16:9') no-repeat center center;
  background-size: cover;
  background-position: 30%;
  background-attachment: fixed;
  height: 100%;
  min-height: min-content;
  overflow:auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

body section {
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
}

.card {
  position: relative;
  height: 325px;
  width: 325px;
  /* margin: 10px 20px; */
  transition: ease all 2.3s;
  perspective: 2000px;
}
.card:hover .cover {
  transform: rotateX(-10deg) rotateY(-180deg);
}
.card:hover .cover:before {
  transform: translateZ(30px);
}
.card:hover .cover:after {
  background-color: black;
}
.card:hover .cover h1 {
  transform: translateZ(100px);
}
.card:hover .cover .price {
  transform: translateZ(60px);
}
.card:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}
.card .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
}
.card .cover:before {
  content: "";
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}
.card .cover:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}
.card .cover.item-a {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSpZ_ArAXbU25vfNt4gnFTLGnjuxMHPtLmuw&usqp=CAU") center center no-repeat;
  background-size: cover;
}
.card .cover.item-b {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTx030VZyIdat4o1dLZGTTtfw-DBfqhMETJQ&usqp=CAU") center center no-repeat;
  background-size: cover;
}
.card .cover.item-c {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQvZVbVJna5OFtuC3d7c2ssnrQ2dlEFMNJIA&usqp=CAU") center center no-repeat;
  background-size: cover;
}
.card .cover h1 {
  font-weight: 600;
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 3;
  font-size: 3em;
  transform: translateZ(0px);
}
.card .cover .price {
  font-weight: 200;
  position: absolute;
  top: 55px;
  right: 50px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 4;
  font-size: 2em;
  transform: translateZ(0px);
  /*background: rgba(255,255,255,.3);
  padding: .3em .5em;
  &:before{
  	content:'';
  	position: absolute;
  	background: rgba(255,255,255,.3);
  	width: 100%;
  	height: 1.6em;
  	top:0;
  	right: -50%;
  	transform: rotatey(90deg) translatex(50%);
  }
  &:after{
  	content:'';
  	position: absolute;
  	background: rgba(255,255,255,.3);
  	width: 100%;
  	height: 1.6em;
  	top:0;
  	right: -50%;
  	transform: translatex(-50%) translatez(-50%);
  }*/
}
.card .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0b0f08;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .card-back a {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid white;
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  padding: 14px 32px;
  outline: none;
  text-decoration: none;
}
.card .card-back a:hover {
  background-color: white;
  color: #0b0f08;
}


body,
html {
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  color: #111e6c;
  /* Try using a background image
  background: url('images/frontPageBackground.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
  padding-top: 0px;
}
.main:before {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  /*background: #111e6c;*/
  opacity: 0.2;
  filter: alpha(opacity=90);
}
.main-text {
  top: 20%;
  left: auto;
  right: auto;
  position: relative;
  color: #111e6c;
}
.btn-circle,
#to-top {
  border-radius: 50%;
  background: #111e6c;
  padding: 6px;
  font-size: 14px;
  /* border-radius: 50%; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.c2a-btn {
  margin: 48px auto 0;
  margin: 4.8rem auto 0;
}

.btn-default {
  color: #fff;
  background-color: #111e6c;
  border-color: #111e6c;
  transition: all 1s ease;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 5px 40px;
  font-size: 35px;
  line-height: 2;
  margin: 20px;
  border-radius: 90px;
  display: inline-flex;
}

.btn-group .btn-or {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 99;
  box-shadow: 0;
  border: 2px solid #fff;
}



.card{
  background: none;
}


.home-content-wrapper{
  max-width:1250px;
  width:100%;
  height:100%;
}
