html{
  height:100%;
  width: 100%;
  min-width: 375px;
}


body {
    background: url('https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Fsundaytimes%2Fprod%2Fweb%2Fbin%2Ff17db7d4-40b2-11ec-a643-29e9306b79ab.jpg?crop=1500%2C1000%2C0%2C0') no-repeat center center;
    background-size: cover;
    background-position: inherit;
    background-attachment: fixed;
    height:100%;
    width: 100%;

  }

  .main_container{
    height: calc(100% - 66px);
    width: 100%;
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

  }

  .room_id_div{
    /* display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column; */

    background-color:rgb(17,30,108);
    color: white!important;
    padding:15px;
    border-radius: 20px;
    font-size: 30px;

  }

  #room_id_show{
    margin:0;
    padding:0;
  }

  .player_image{
    object-fit: cover;
    object-position: center center;
    width: 62px;
    height:62px;
    border-radius: 100%;
  }



  /* The Table Attributes-------------------------------------------------------------- */
  table {
    text-align: center;
    width: clamp(350px,80vw, 700px);
    margin: 20px 0;
    font-family: sans-serif;
    border-bottom: 5px solid #009688;
  }

  th {
    padding: 10px;
  }
  th {
    background-color: #404040;
    color: white;
  }
  td {
    background-color: #eee;
    padding: 5px 5px;
  }

/* Custom--------------------------------------- */
  .status_box{
    width: 28%;
  }

  .ready_btn {
      padding: 10px;
      color: white;
      background-color: #16A085;
      border-radius: 24px;
      font-size: min(3vw, 15px);
  }
  .not_ready_btn{
    background-color: #e91236;
    opacity:0.25;
  }





  /* The Table Attributes-------------------------------------------------------------- */



  /* Lower button --------------------- */
  .btn_wrapper{
    width: clamp();
    /* margin: 20px auto; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 4px;
    position: relative;
    background-color: #16a085;
    border: none;
    color: #fff;
    padding: 20px;
    width: 200px;
    margin:20px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
  }
  
  .button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
  }
  
  .button:after {
    content: "";
    background: #1abc9c;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    /* transition: all 0.8s */
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button:focus { outline:0; }


  .disabled_btn{
    opacity: 0.5;
  }

  .disabled_btn:hover{
    background-color: #16a085;
    box-shadow: 0 5px 15px #193047;
    color: #fff;
    cursor: auto;
  }
  /* Lower button --------------------- */
  


